@charset "utf-8";

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom: 2%;
	right: 0;
    width: 50px;
    height: 200px;
    /*矢印の動き1秒かけて永遠にループ*/
	animation: arrowmove 2s ease-in-out infinite;
    overflow: hidden;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /* 描画位置 */
	position: relative;
    left: 0;
	right: 0;
	top: 0;
    /* テキストの形状 */
	color: #eee;
	font-size: 2rem;
	letter-spacing: 0.1em;
	/* 縦書き設定 */
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
/* .scrolldown4 span{
    描画位置
	position: absolute;
	left: -24px;
	bottom: 90px;
    テキストの形状
	color: #eee;
	font-size: 2rem;
	letter-spacing: 0.1em;
	縦書き設定
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
} */

/* 矢印の描写 */
.scrolldown4:before {
    display: block;
    content: "";
    /* 描画位置 */
    position: absolute;
    bottom: 0;
    right: 10px;
    /* 矢印の形状 */
    width: 3px;
    height: 40px;
    background: #eee;
    transform: skewX(-31deg);
}
/* .scrolldown4:before {
    content: "";
    描画位置
    position: absolute;
    bottom: 0;
    right: -6px;
    矢印の形状
    width: 3px;
    height: 40px;
    background: #eee;
    transform: skewX(-31deg);
} */

.scrolldown4:after{
	content:"";
    display: block;
    /* 描画位置 */
	position: absolute;
	bottom:0;
	right: 0;
    left: 0;
    margin: auto;
    /* 矢印の形状 */
	width: 3px;
	height: 80px;
	background:#eee;
}
/* .scrolldown4:after{
	content:"";
    描画位置
	position: absolute;
	bottom:0;
	right: 5px;
    矢印の形状
	width: 3px;
	height: 80px;
	background:#eee;
} */